body {
	background-color: #000000;
	color: #ebebeb;
	text-align: center;

	height: 100vh;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
