@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #000;
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Helvetica Neue', 'helvetica-neue',
		'Segoe UI', Roboto, Arial, sans-serif;
}
